<section id="viewCatalog" class="background-img">
    <section id="viewCatalog" class="background-img">
        <div class="added-hotels"></div>
        {{#each allItems}}
        {{>hotelCard}}
        {{/each}}
        </div>

        {{#if allItem.isItem}}
        <div class="guest">
            There are no Hotels found...
        </div>
        {{/if}}

    </section>