<main>

    <!-- In case of error, display the following div-->
    {{#if error}}
    <div class="error-box">
        <p>{{error}}</p>
    </div>
    {{/if}}

    <!-- Browse Page -->
    <section id="catalog-section" class="spaced">
{{#if isItem}}
        <h1 class="item">Auctions</h1>

        <!-- List of available auctions -->

        <ul class="catalog cards">
            {{#each allItems}}
            {{>auctionCard}}
            {{/each}}
        </ul>

{{else}}
        <!-- If there are no auctions to display -->
        <div class="item pad-large align-center">
            <p>Nothing has been listed yet. Be the first!</p>
            <div>
                <a class="action" href="/auction/create">Publish Auction</a>
            </div>
        </div>
{{/if}}
    </section>

</main>